absl-py
appnope
argon2-cffi
async-generator
attrs
backcall
bleach
cachetools
certifi
cffi
chardet
cycler
dataclasses
decorator
defusedxml
entrypoints
fsspec
future
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytorch-lightning
PyYAML
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scipy
Send2Trash
six
tensorboard
tensorboard-plugin-wit
terminado
testpath
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
wget
widgetsnbextension
zipp
